<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Spring MVC</title>
<div th:replace="fragments/header::style"></div>
</head>
<body>

	<div th:replace="fragments/header::header"></div>

	<div class="container">
		<div class="col-lg-2">
			<p>
				<a href="/">All Genre</a>
			</p>
			<p th:each="genre: ${listGenre}">
				<a th:href="@{/genre/}+${genre.id}"> <span
					th:text="${genre.name}"></span>
				</a>
			</p>
		</div>

		<div class="col-lg-10">
			<div class="row">
				<div class="col-lg-6 pull-right">
					<form class="input-group" method="post" 
						th:action="@{/search}" th:object="${searchForm}">
						<input type="text" class="form-control" 
								placeholder="Search title..." th:field="*{searchKey}"/> 
						<span class="input-group-btn">
							<button class="btn btn-success" type="submit">
								<span class="glyphicon glyphicon-search" aria-hidden="true">
								</span>
							</button>
						</span>
					</form>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-lg-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<img th:src="${movie.image}"
								class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<h3 th:text="${movie.title}"></h3>
					<p th:text="${movie.code}"/>
					<p th:text="${movie.sinopsis}"/>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer::footer"></div>
</body>
</html>